@font-face {
    font-family: lain;
    src: url(./love_letter_tw/Lovelt__.ttf);
}

h1 {
    font-family: lain;
    color: white;
    text-align: center;
    font-size: 40px;
}

p {
    font-family: lain;
    color: white;
    font-size: 25px;
}

.footing {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-top: 20px;
}

p.quote {
    font-size: 20px;
}

.quote {
    background-color: rgba(0, 0, 0, 0.5);
}

p.footing {
    text-align: center;
    font-size: 15px;
}

.main-paragraph {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    background-color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    top: 0;
    left: 0;
    margin: -10px;
    width: 100vw;
}

img.navi-loading-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    object-fit: cover;
    animation: hideGif 5s forwards;
    top: 0;
    left: 0;
    z-index: 1;
}

.navi-loading-screen {
    margin: 0px;
}

@keyframes hideGif {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}
